body { color: #666666;
    background-color: #eaeaea;}
header {text-align: center;}
nav{font-size: 120%;
    padding: 0px;
    text-align: center;}
nav ul{list-style-type: none;
        margin: 0;
        padding-left: 0;}
nav li { border-bottom: 1px;
         border-bottom-color: darkblue;}
h1{ padding-bottom: 0.5em;
    font-size: 220%;
    padding-top: 0.5em;
    letter-spacing: 0.25em;
    font-family: Georgia, "Times New Roman", serif;}
h2{color: #1976D2;
    font-size: 180%;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 1px #CCCCCC;}
#menu {height: 300px;
        background-image: url(coast.jpg);
        background-size: 100% 100%;}
#title {height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;}
#body {height: 300px;
    background-image: url(trail.jpg);
    background-size: 100% 100%;}
